/* 글로벌(공통) 스타일 설정 */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  user-select: none; /* 드래그 방지 */
}

/* 리엑트에서도 다 지우고 시작하기 때문에 code테그나 다른기본 값들을 지우고 시작한다. */
