/* 공통 스타일 */
* {
  box-sizing: border-box;
}

/* 헤더 */
header {
  width: 100%;
  background-color: skyblue;
}
.inner {
  /* 1100px 이상 늘어나지 않음 */
  max-width: 1100px;
  height: 120px;
  margin: 0 auto;
  background-color: green;
  display: flex;
}
.inner > h1 {
  width: 100px;
  background-color: greenyellow;
}
.inner > nav {
  /* width:100% 하면 양 옆의 요소들의 영역이 줄어드는 문제가 생김 */
  /* width: 100%; */

  /* calc(100% - (로고px+ 버튼부분px)) 해주면 가변길이 가능! */
  /* width: calc(100% - 268px); */

  /* 양 옆은 고정길이고 nav만 뷰포트의 비율대비 넓어짐 */
  /* flex-grow: 1; 을 주는 방법 The best way!! */
  flex-grow:1 ;
  background-color: rebeccapurple;
}
.inner > nav > ul {
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.inner > .delivery-order {
  width: 168px;
  background-color: rgb(231, 144, 86);
}

/* 메인 */
main {
  max-width: 1440px;
  margin: 0 auto;
}
.slider__content {
  height: 480px;
  background-color: thistle;
}
.youtube__content {
  height: 605px;
  background-color: tomato;
}
.sns__content {
  height: 160px;
  background-color: turquoise;
}
.sns__content > ul {
  display: flex;
}
.sns__content > ul > li {
  /* 단축속성 1
    flex 아이템들의 비율을 1:1:1로 자동으로 맞춰줌!!
    flex-basis와 flex-grow의 합쳐진 형태
   */
  flex: 1;
}
.guide__content {
  height: 480px;
  display: flex;  
}
.guide__content > div {
  flex: 1;
}
.guide__content > .content__app {
  background-color: pink;
}
.guide__content > .content__delivery {
  background-color: hotpink;
}
.store {

}
.store__content {
  height: 597px;
  background-color: honeydew;
}
.store__content > div {
  
}
.store__content ul {
  width: 80%;
  background-color: orange;
  margin: 0 auto;
  overflow: hidden;
  
}
.store__content ul > li {
  float: left;
  width: 16.666%;
  text-align: center;
  background-color: yellow;
}
/* .store__content ul > li::after {
  clear: both;
} */
.banner__content {
  height: 200px;
  background-color: gray;
}

/* 푸터 */
footer {
  width: 100%;
  height: 680px;
  background-color: rgb(87, 86, 86);
}

@media screen and (max-width: 760px ) {
  .guide__content {
    flex-direction: column;
  }
  .store__content ul li {
    width :33.33%;
  }
}


